.tab-myleave{
	padding: 0 5px;
    margin: 5px 0;
}

.tab-myleave i.WeStar_iconfont{
	margin-right: 8px;
    font-style: normal;
}

.leave-item-time{
	text-align: center;
    padding-top: 5px;
}
.leave-item,.approve-flow-card .one-item{
    display: flex;
    align-items: flex-start;
    padding: 5px 0px 5px 0px;
}
.leave-item .status-img{
	width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 10px;
    overflow: hidden;
}

.leave-item .summary{
    flex: 1;
    padding: 0px;
    overflow: hidden;
}

.leave-item .summary .title{
    font-weight: 700;
    line-height: 32px;
    padding-left: 8px;
}

.leave-item .summary .content{
    line-height: 18px;
    padding-left: 8px;
}

.leave-item .summary .contentTitle{
    line-height: 32px;
    padding-left: 8px;
}

.leave-item .link-page{
    padding-left: 8px;
    line-height: 24px;
    margin-top: 8px;
    display: flex;
}

.leave-item .link-page .click-detail{
	flex:1;
    border-top: 1px solid transparent;
}

.b_main{
	position:relative;
    width: 75%;
    min-width: 240px;
} 
.out{ 
	position:absolute; 
	top:7px; 
	border-color:transparent; 
	border-style:dashed dashed solid dashed; 
	border-width:8px; 
} 
.in{ 
	position:absolute; 
	border-color:transparent; 
	border-style:dashed dashed solid dashed; 
	border-width:8px; 
	top:-8px; 
	left:-6px; 
} 
.border{ 
	position:relative; 
	border:1px solid transparent; 
	left:16px; 
	border-radius:5px; 
	width: 100%;
	
} 
.noDataItem{
    text-align: center;
    padding-top: 10px;
}

.basic-info-card{
    padding: 16px 16px 0px 16px;
    position: relative;
}


.user-info{
    display: flex;
    align-items: center;
}

.user-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.user-describtion{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    line-height: 18px;
}

.apply-descrition{
    margin-top: 8px;
    line-height: 20px;
    border-top: 1px solid transparent;
}
.approve-flow-card{
    position: relative;
}
.approve-flow-card .one-item{
    margin:16px;
}
.apply-descrition .apply-item{
    display: flex;
}
.apply-descrition .apply-item span.value{
    font-weight: bold;
    flex : 1;
}

.approve-flow-card .one-item .border{
    border: 1px solid transparent;
    padding: 0 8px 8px 8px;
}

.approve-flow-card .one-item .out{
    top : 5px;
}

.approve-flow-card .one-item .user-image{
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
}
.approve-flow-card .one-item .user-info-time{
    text-align: end;
    min-height: 16px;
}

.flow-line{
    position: absolute;
    top: -17px;
    left: 26px;
    z-index: -1;
    opacity: 0.7;
}

.step-no{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid transparent;
    text-align: center;
}
.ajustItemInner{
    height: auto!important;
    flex-direction: column;
    align-items: stretch!important;
}  

.action-button-icon{
    margin-right: 5px;
}

.approve-flow-card .one-item .border.withoutTime{
    padding-top: 8px;
}

.tab-overflow-auto{
    overflow-y: auto;
    overflow-x: hidden;
}
.basic-info-card .final-status-image{
    position: absolute;
    top: 0px;
    right: 10px;
}

.approve-link-actions.disable-click,.cancel-link-actions.disable-click{
    pointer-events : none;
}

.edit_right_icon{
    visibility: hidden;
}
.edit_right_icon.active{
    visibility: visible;
}

.detail-reson-label{
    margin-bottom: 8px;
    margin-left: 16px;
}

.detail-reson-text{
    height: 60px;
}
.detail-edit-content{
    margin-bottom: 44px;
}
.detail-edit-content.focused{
    position: relative;
    bottom: 44px;
}
.photo-style{
    height:100% !important;
    width: 100%;
}
.wx-person > .wx-item .wx-icon{
    width: 60px;
    height: 60px;
}

.marker {
    padding: 4px 10px;
    border: 1px solid transparent;
    white-space: nowrap;
    font-family: "";
}

.wx-button.attendence-action{
    text-align: center;
    line-height: 48px;
}
.wx-button.attendence-action.disable-click{
    pointer-events : none;
}

.myAttendance .page-content{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.record-panel{
    flex: 1;
    overflow-y: auto;
    position: relative;
}
.record-panel .record{
    padding: 8px;
    display: flex;
}
.record-panel .record .record-circle{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.record-panel .record .record-content{
    padding-left: 16px;
    flex: 1;
}

.record-panel .record .record-content .record-location{
    margin-top: 8px;
}
.record-panel .flow-line{
    top: 20px;
    left: 15px;
}
.record-panel .attendence-action-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
}

.attendence-action-panel .attendence-action{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    position: relative;
}
.attendance-back{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
}

.attendence-action-panel.disable .attendence-action,
.attendence-action-panel.attending .attendence-action
{
    pointer-events: none;
}

.attendence-action-panel.attending .attendence-action .attendance-back{
    -webkit-animation : 0.8s linear 0s normal none infinite rotate;
}

@-webkit-keyframes rotate{
   from{-webkit-transform:rotate(0deg)}
   to{-webkit-transform:rotate(360deg)}
}

.attendence-action-panel.attending .attendence-action .action-time-interval,.attendence-action-panel.attending .attendence-action .action-text,.attendence-action-panel .attendence-action .action-attending{
    display : none;
}

.attendence-action-panel.attending .attendence-action .action-attending{
    display : block;
}

.attendence-action-panel .attend-location-des{
    margin-top: 16px;
    pointer-events: auto;
}

.popup-close-btn{
    margin: 2%;
    text-align: end;
    height: 5%;
}

#container{
    height: 91%;
}

#container + div{
    text-align: center;
    margin-top: 8px;
}

.title-bar{
    border-bottom: 1px solid transparent;
    margin: 8px 8px 0px 8px;
    display: flex;
    flex-direction: column;
    min-height: 67px;
}

.title-bar .select-bar{
    display: flex;
}
.title-bar .status-bar{
    text-align: end;
}
.title-bar .address-info{
    display: flex;
    flex: 1;
    align-items: center;
}

.title-bar .date-info{
    height: 20px;
    border: 1px solid transparent;
    border-radius: 16px;
    padding: 8px 10px 5px 10px;
    display: flex;
    align-items: center;
}    

.detail-address-info .company{
    display: flex;
    align-items: center;
}
.arrow-down{
    transition: all 0.3s linear;
    margin-left: 4px;
}

.arrow-down.up{
    transform: rotate(-180deg);
}


.myAttendance .tabs{
    flex: 1;
    display: flex;
    overflow: hidden;
}

.tabs .tab{
    overflow-y: auto;
    flex-direction: column;
    display: none;
    width: 100%;
}

.myAttendance .tabs .tab.active {
    display: flex;
}

.summary-panel{
    margin: 4px;
    min-height: 170px;
}
.month-date-container{
    border-radius: 10px 10px 0px 0px;
    display: flex;
    padding: 16px;
    position: relative;
}
.summary-detail-container{
    display : flex;
}
.summary-detail:first-child{
    border-radius: 0px 0px 0px 10px;
}
.summary-detail:last-child{
    border-radius: 0px 0px 10px 0px;
}
.summary-detail{
    flex: 1;
    padding: 24px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.summary-detail .title{
    font-weight: bold;
}

.abnormal-record-detail{
    margin: 8px 4px 4px 4px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.abnormal-des{
    border-bottom: 1px solid transparent;
    border-left: 4px solid transparent;
    padding-left: 4px;
    min-height: 20px;
}

.abnormal-record-detail .detail-item{
    display: flex;
    padding: 8px;
}

.abnormal-record-detail .detail-item span:first-child,.abnormal-record-detail .detail-item span:last-child{
    flex:1;
}
.month-select{
    position: absolute;
    top: 16px;
    right: 16px;
    pointer-events: none;
}
.record-detail-panel{
    flex: 1;
    overflow-y: auto;
}

.forgetPwd-panel{
    padding-right: 12px;
    display: flex;
    justify-content: flex-end;
}

.main-section-panel{
    display: flex;
    flex-wrap: wrap;
}
.section-item{
    width: 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

.team-container{
    height: 100%;
    width: 100%;
    overflow-x: hidden; 
}
.team-container .team-item-card{
    background: white;
    margin: 8px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 8px;
}

.team-item-card .self-info-card{
    display: flex;
    
}
.team-item-card .self-photo{
    width: 60px;
    height:60px;
}
.team-item-card .self-text-info{
    flex: 1;
    line-height: 28px;
}
.team-item-card .team-member{
    border-top: 1px solid transparent;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.org-nav{
    padding: 8px;
    overflow-x: auto;
    display: -webkit-box;
    transition : 0.3s all linear;
}
.org-nav .nav-item{
    line-height: 30px;
    text-align: center;
    border-radius: 8px;
    padding: 0px 8px 0px 8px;
}

.org-nav .nav-item.isSelf{
    background: transparent;
    pointer-events: none;
}

.org-nav .nav-split{
    line-height: 30px;
    margin: 0px 8px 0px 8px;
}
.org-nav .nav-split:last-child{
    display: none;
}

.team-container.fromRight{
    -webkit-animation : 0.4s ease fromRight;
}

.team-container.fromLeft{
    -webkit-animation : 0.4s ease fromLeft;
}

@-webkit-keyframes fromRight{
   from{margin-left:100%}
   to{margin-left:0px}
}

@-webkit-keyframes fromLeft{
   from{margin-left:-100%}
   to{margin-left:0px}
}

.group-split-block{
    border-left: 5px solid transparent;
}

.toast_mask{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5000;
}

.toast_content{
    min-width: 10em;
    max-width: 100%;
    line-height: 5rem;
    background: rgba(40,40,40,0.75);
    text-align: center;
    border-radius: 5px;
    padding: 0 8px;
}

.b_main .border .user-info:nth-last-of-type(n+2){
    border-bottom: 1px solid transparent;
    padding: 4px 0;
}

.version-panel{
    text-align: center;
    padding-top: 64px;
    font-weight: bold;
}

.tabs-animated-wrap.tab-content{
   height: calc(100% - 39px);
   height: -webkit-calc(100% - 39px);
   height: -moz-calc(100% - 39px);
}
.tab-content .content-block{
    margin: 0px;
    padding: 0px;
}
.cut-img{
    border-radius: 50%;
    overflow: hidden;
}

.wx-person > .wx-item .wx-icon img,.wx-contacts>.wx-item .wx-icon img {
    border-radius: 0;
}

.moreFunc-text{
    padding: 16px;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(lightblue), to(black));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.my-contact-list .wx-title{
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 0;
    margin-top: 3px;
    border-bottom: 1px solid transparent;
}

.my-contact-list .wx-item{
    padding: 7px 0;
    margin: 0 7px;
    border-top: 1px solid transparent;
}

.my-contact-list .wx-item .wx-icon {
    width: 36px;
    height:36px;
    line-height: 36px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

.wx-group .wx-title + .wx-item{
    border-top-width: 0px;
}
/*-------------------------------------------font size------------------------------------------------*/
.leave-item-time,
.leave-item .summary,
.approve-flow-card .one-item .user-info-time{
    font-size: 8px;
}

.my-contact-list .wx-item .wx-icon{
    font-size: 10px;
}

.leave-item .link-page,
.user-describtion,
.apply-descrition,
.marker,
.section-item,
.my-contact-list .wx-title,
.record-panel .record,
.attendence-action-panel .attend-location-des,
.title-bar .status-bar,
.detail-address-info .address,
.title-bar .date-info{
    font-size: 12px;
}

.leave-item .summary .title,
.leave-item .summary .contentTitle,
.approve-flow-card .one-item .user-describtion .name,
.step-no,
.abnormal-des{
    font-size: 14px;
}

.my-contact-list .wx-name,
.company .arrow-down{
  font-size: 16px;
}

.noDataItem,
.detail-address-info .company{
    font-size: 18px;
}
.popup-close-btn{
    font-size: 20px;
}
.org-nav .nav-split,
.moreFunc-text,
.month-date-container,
.summary-detail .value{
    font-size: 24px;
}
.back-btn{
    font-size: 28px;
}

.WeStar_iconfont.myCompany{
    font-size: 48px;
}

.basic-info-card .final-status-image{
    font-size: 100px;
}

/*------------------------------------------theme color-----------------------------------------------*/
.theme-custom .back-color-imp,
.theme-custom .swiper-pagination-bullet-active,
.theme-custom .button.active,
.theme-custom .record-panel .record .record-circle.status-{
    background-color: rgb(1,124,192)!important;
    color: white!important;
}

.theme-custom .font-color-with-imp,
.theme-custom i.icon,
.theme-custom .tabbar a.active{
    color : rgb(1,124,192)!important;
}

.theme-custom .button{
    border-color: rgb(1,124,192);
    color : rgb(1,124,192);
}

.theme-custom .back-btn{
    color : rgb(1,124,192);
}

.theme-custom .border-right-color{
    border-right-color: rgb(1,124,192);
}

.theme-custom .border-color{
    border-color: rgb(1,124,192);
}

.theme-custom .back-color-not-imp{
    background-color: rgb(1,124,192);
    color: white;
}

.theme-custom .back-color-with-1{
    background-color: rgba(1,124,192,.1);
}

.theme-custom .font-color-with-7,
.theme-custom .nav-item.isSelf.font-color-with-spec{
    color : rgba(1,124,192,.7);
}

.theme-custom .back-color-with-5{
    background-color: rgba(1,124,192,.5);
    color: white;
}
.theme-custom .font-color-with-6{
     color: rgba(1,124,192,.6);
}
.theme-custom .linear-back{
    background: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(1,124,192,.6)), to(rgba(1,124,192,.2)));
}
.theme-custom .leave-item .summary .value,
.theme-custom .leave-item .summary .contentTitle,
.theme-custom .apply-descrition .apply-item span.value,
.theme-custom .approve-flow-card .one-item .user-describtion .name,
.theme-custom .detail-reson-label{
    color: black;
}

.theme-custom .flow-line,
.theme-custom .approve-link-actions.disable-click,
.theme-custom .cancel-link-actions.disable-click,
.theme-custom .status-0{
    color: #cecece;
} 

.theme-custom .wx-button.attendence-action.disable-click{
    background-color: #cecece;
}
.theme-custom .border,
.theme-custom .basic-info-card,
.theme-custom .detail-reson-text{
    background-color: #fff;
}
.theme-custom .detail-edit-content,
.theme-custom .tab-page-content{
    background-color: #f0eff5;
}

.theme-custom .marker{
    color: #ff6600;
    border-color: #fff;
    background-color: #0066ff;
}

.theme-custom .record-panel .record .record-circle{
    background-color: #cfcfcf;
}

.theme-custom .leave-item .link-page .click-detail,
.theme-custom .apply-descrition,
.theme-custom .approve-flow-card .one-item .border,
.theme-custom .title-bar
{
    border-color : #cfcfcf;
}

.theme-custom .attendence-action-panel.disable .attendence-action{
    background-color: #c1c1c1;
}
.theme-custom .attendence-action-panel.disable .attendence-action .attendance-back{
    background: #cecece;
}

.theme-custom .status-2,.status-4,.status-bar.status-1{
    color : rgb(115,200,16);
}
.theme-custom .status-1{
    color : #ff9500;
}
.theme-custom .status-3,.status-bar.status-0{
    color : #FF4500;
}

.theme-custom .step-no{
    background-color: white;
    border-color: #cecece;
}

.theme-custom .detail-address-info .company{
    color: #212121;
}

.theme-custom .toast_content{
    color : #fff;
}
.theme-custom .b_main .border .user-info:nth-last-of-type(n+2),
.theme-custom .team-container .team-item-card,
.theme-custom .team-item-card .team-member,
.theme-custom .my-contact-list .wx-title,
.theme-custom .my-contact-list .wx-item{
    border-color: #cecece
}

.theme-custom .my-contact-list .wx-title{
    color: #888888;
    background: #ebebeb;
}

.theme-custom .my-contact-list .wx-item .wx-icon{
    color: #CCC;
}
.theme-custom .my-contact-list .wx-name{
    color: #424242;
}

.theme-custom .approve-flow-card .one-item .out{
    border-color:transparent #cfcfcf transparent transparent;
}

.theme-custom .approve-flow-card .one-item .in{
    border-color:transparent #fff transparent transparent;
}

.theme-custom .abnormal-des{
    border-bottom-color:#cecece;
    border-left-color: rgb(1,124,192);
}




