<div class="page-content" id="myCompany_template_all" style="background-color: #F0EFF5">
    <div class="mobileframe">
        <div class="wx-group">
            <section class="holder" style="background: white; ">
                    <div class="weui_cell">
                        <div class="wx-content form-group form-group-myinfo weui_cell_bd weui_cell_primary">
                            <textarea rows="5"  id="feedback"  class="weui_input" placeholder={{i18n-text 'thank-feed'}} style="min-height: 100px;">
                           </textarea>
                        </div>
                        <div class="weui_cell_ft"><span title={{i18n-text 'clear-out'}} class="WeSpark_iconfont" id="text-clear-commonField" style="display: none;">&nbsp;</span></div>
                    </div>
            </section>
                        <div class="weui_cell">
                            <div>联系方式<input type="text"  id="contactWay"  class="weui_input" placeholder={{i18n-text 'qq-phone'}}></div>

                        </div>
            <div class="wx-group">

            </div>
            <div class="wx-form">
                <button href="#" id="confirm_feedback_button" class="confirm-btn wx-button wx-danger btn-commit-color">{{i18n-text 'submit-feedback'}}</button>
            </div>
        </div>
    </div>
</div>
