<div class="page-content">
    {{> userInfoCard}}
    <div class="wx-group">
        <ul class="wx-settings">
          {{#each detailArray}}
            <li class="wx-item item-link we-star-person" topage= {{this.[0]}} isOther={{../isOther}}>
                <span class="wx-content">  
                    <i class="WeSpark_iconfont ">&#xe604;</i>
                </span>
                <div class="wx-name">{{this.[1].title}}</div>
             </li>
         	{{/each}}
        </ul>
    </div>
    <div class="weui_cells_title"></div>
</div>




