
@font-face {font-family: "iconfont";
  src: url('WeSpark_iconfont.eot?t=1460015544'); /* IE9*/
  src: url('WeSpark_iconfont.eot?t=1460015544#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('WeSpark_iconfont.woff?t=1460015544') format('woff'), /* chrome, firefox */
  url('WeSpark_iconfont.ttf?t=1460015544') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('WeSpark_iconfont.svg?t=1460015544#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fenxiang:before { content: "\e607"; }
.icon-cha:before { content: "\e606"; }
.icon-dianhua:before { content: "\e600"; }
.icon-jiahao:before { content: "\e605"; }
.icon-home:before { content: "\e60e"; }
.icon-duanxin:before { content: "\e601"; }
.icon-iconfontllfollowsort:before { content: "\e60a"; }
.icon-jinlingyingcaiwangtubiao53:before { content: "\e60b"; }
.icon-calendarzhuanhuan:before { content: "\e608"; }
.icon-yichu:before { content: "\e60c"; }
.icon-iconfonttuandui:before { content: "\e60f"; }
.icon-arrow-down:before { content: "\e602"; }
.icon-duanxin1:before { content: "\e603"; }
.icon-xiala:before { content: "\e60d"; }
.icon-rarrow:before { content: "\e604"; }
.icon-iconwohover:before { content: "\e610"; }
.icon-i:before { content: "\e609"; }
