<div class="page-content" style="background-color: #F0EFF5">
     {{> userInfoCard}}

    {{#each listInfo}}
    <div class="wx-group">
        <ul class="wx-settings">
          {{#each this}}
	        <li class="wx-item item-link my-overtime-item" topage={{link}} >
	            <span class="wx-content">  
	                <i class="WeSpark_iconfont ">&#xe604;</i>
	            </span>
	            <div class="wx-name">{{title}}</div>
	         </li>
	       {{/each}}
        </ul>
    </div>
    <div class="weui_cells_title"></div>
    {{/each}}
</div>
