<div data-page="list" class="page toolbar-fixed">
        <div class="toolbar tabbar tabbar-labels">
            <div class="toolbar-inner">
                <a href="#" class="tab-link" toPage="myProfile">
                    <i class="WeSpark_iconfont bigger-icon">&#xe629</i>
                    <span class="tabbar-label">{{i18n-text 'home'}}</span>
                </a>
                {{!-- <a href="#" class="tab-link" toPage="myMessage">
                    <i class="WeSpark_iconfont bigger-icon">&#xe639</i>
                    <span class="tabbar-label">{{i18n-text 'news'}}</span>
                </a> --}}
                <a href="#" class="tab-link active" toPage="myContact">
                    <i class="WeSpark_iconfont bigger-icon">&#xe61b</i>
                    <span class="tabbar-label">{{i18n-text 'contact'}}</span>
                </a>
                <a href="#" class="tab-link" toPage="mySelf">
                    <i class="WeSpark_iconfont bigger-icon">&#xe61c</i>
                    <span class="tabbar-label">{{i18n-text 'myself'}}</span>
                </a>
            </div>
        </div>

        <form class="searchbar searchbar-init" data-found=".searchbar-found" data-not-found=".searchbar-not-found">
            <div class="searchbar-input">
                <input type="search" placeholder="Search">
                <a href="#" class="searchbar-clear"></a>
            </div>
            <a href="#" class="searchbar-cancel">Cancel</a>
        </form>

        <div class="searchbar-overlay"></div>


        <div class="page-content">
            <div class="wx-group media-list contacts-list list-block list-block-search searchbar-found">
                <div class="list-group virtual-list my-contact-list" >
                </div>

            </div>
            <div class="content-block searchbar-not-found">
                Nothing found
            </div>
        </div>
    </div>
</div>