<div class="slider-page-content">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="aboutimg" src="img/m_index_0011.jpg"/></div>
            <div class="swiper-slide"><img id="img2" class="aboutimg" src="img/m_index_0013.jpg"/></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>

