<div class="page-content">
        <div class="mobileframe">
            <div class="company-news-time">2016-08-15 14:27:28</div>
            <div class="company-news">
                <div class="news-item">
                    <div class="news-icon" style="background-image: url(http://upload.wikimedia.org/wikipedia/commons/8/88/Farbkreis_Itten_1961.png)"></div>
                    <div class="news-name">
                       cdp决定
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-name">
                      主要内容
                        12
                        12
                    </div>
                </div>
                <div class="link-page news-item">
                    <span class="click-detail">see details</span><i class="WeSpark_iconfont align-right">&#xe604;</i>
              </div>

        </div>
</div>
</div>
