<div class="page-content" style="background-color: #F0EFF5">
   {{#if isNull}}
   		{{> nullCard}}
   {{else}}
	   	{{> userInfoCard}}

	 	<div class="list-block" style="margin: 5px 0;">
			<div class="wx-group">
			    <ul class="wx-settings">
			        {{#each person_leaveQuota.leaveData}}
				        <li>
				            <div class="item-content">
				                <div class="item-inner">
				                    <div class="item-title">{{title}}</div>
				                    <span class="ess-item-value">{{value}}</span>
				                </div>
				            </div>
				        </li>
				    {{/each}}
			    </ul>
			</div>
		</div>
	{{/if}}
</div>