<div class="page-content">
    <div class="mobileframe">
        <div class="list-block">
            <div class="list-group">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">{{i18n-text 'receiveN'}}</div>
                                <div class="item-after" id="myContact_contactDetail_checkbox">
                                    <label class="label-switch" id="myContact_contactDetail_label"> <input id="isFavorite" type="checkbox" {{#if favorite}}checked="on" {{/if}}" />
                                        <div class="checkbox"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="list-block">
        <div class="list-group">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-media">
                        </div>
                        <div class="item-inner">
                            <div class="item-title">{{i18n-text 'sound'}}</div>
                            <div class="item-after" id="myContact_contactDetail_checkbox">
                                <label class="label-switch" id="myContact_contactDetail_label"> <input id="isFavorite" type="checkbox" {{#if favorite}}checked="on" {{/if}}" />
                                    <div class="checkbox"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media">
                        </div>
                        <div class="item-inner">
                            <div class="item-title">{{i18n-text 'wave'}}</div>
                            <div class="item-after" id="myContact_contactDetail_checkbox">
                                <label class="label-switch" id="myContact_contactDetail_label"> <input id="isFavorite" type="checkbox" {{#if favorite}}checked="on" {{/if}}" />
                                    <div class="checkbox"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>